.filter-categories {
  margin-top: 20px;
  .filter-categories__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    .filter-categories__up {
      transform: rotate(180deg);
    }
    .active {
      transform: rotate(180deg);
    }
  }
  .filter-categories__item {
    margin-top: 10px;
  }
  .filter-categories__label {
    display: flex;
    align-items: center;
    gap: 10px;
    .filter-categories__checkbox {
      width: 13px;
      height: 13px;
      stroke-width: 1px;
      stroke: var(--main-white);
    }
    .filter-categories__checkbox:checked {
      accent-color: black;
    }
    .filter-categories__name {
      font-weight: 500;
      font-size: 15px;
      line-height: 160%;
      color: var(--main-black);
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
