.more-product__item{
	width: 100%;
	height: 640px;
	min-width: 280px;
	background: #eaeaea;
	&:first-child{
		background: var(--main-white);
	}
	&:nth-child(2){
		 background: #f9f9f9;
	}
	&:nth-child(3){
		 background: #eaeaea;
	}
	&:nth-child(4){
		 background: #2c2c2c;
	}
	
	.more-product-img{
		width: 360px;
		height: 366px;
		object-fit: contain;
	}
	.wrapper{
		width: 296px;
		min-height: 208px;
		margin: 27px auto 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.more-product-title{
		font-weight: 300;
		font-size: 33px;
		line-height: 145%;
		color: var(--main-black);
		&:nth-of-type(4){
			color: var(--main-white);
		}
	}

	.more-product-description{
		font-weight: 500;
		font-size: 14px;
		line-height: 171%;
		color: #909090;
		margin-top: 16px;
		
	}
	.btn{
		border: 1px solid var(--main-black);
		border-radius: 6px;
		padding: 16px 56px;
		width: 191px;
		height: 56px;
		margin-top: 16px;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: var(--main-black);
		&:hover{
			color:var(--main-white);
			background-color:var(--main-black);
			transition:0.3s;
		}
	}
	 
}

.more-product__item:nth-child(4) .btn {
		color: var(--main-white);
		border-color: var(--main-white);
		&:hover{
			color:var(--main-black);
			background-color:var(--main-white);
			transition:0.3s;
		}
}
.more-product__item:nth-child(4) .more-product-title {
		color: var(--main-white);
 
}