.order-summary {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 56px 64px;
  width: 536px;
  height: 656px;
  .title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    color: #111;
  }
  .code-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #545454;
  }
  .code-input {
    border: 0.5px solid #9f9f9f;
    border-radius: 7px;
    padding: 16px 0px 16px 16px;
    width: 408px;
    height: 56px;
    background: var(--main-white);
    margin-bottom: 24px;
    outline: none;
  }
}
