.catalog-container {
  padding: 50px 20px;
  .catalog-inner {
    display: flex;
    animation: fadeIn 0.4s ease forwards;
    justify-content: space-between;
    gap: 50px;
    &.empty {
      justify-content: start;
    }
  }
}
//animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
