.catalog-container {
  .catalog-inner {
    .product-list {
      grid-template-columns: repeat(4, 1fr);
      display: grid;
      gap: 16px;
      grid-auto-rows: 1fr;
      justify-items: center;
      .product-item {
        position: relative;
        border-radius: 9px;
        padding: 0 16px 24px 16px;
        width: 268px;
        min-height: 432px;
        min-width: 200px;
        background: #f6f6f6;
        flex-grow: 1;

        &:hover {
          transform: scale(1.02);
          opacity: 0.7;
        }
        .add {
          position: absolute;
          right: 17px;
          top: 25px;
          cursor: pointer;
        }
        .product-img {
          width: 160px;
          height: 160px;
          margin: 72px auto 0 auto;
          object-fit: contain;
        }
        .product-content {
          height: 88px;
        }
        .product-title {
          margin-top: 16px;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          color: var(--main-black);
        }
        .product-price {
          font-weight: 600;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0.03em;
          text-align: center;
          color: var(--main-black);
          margin-top: 16px;
        }
        .btn {
          display: block;
          border-radius: 8px;
          padding: 12px 64px;
          width: 188px;
          height: 48px;
          background: var(--main-black);
          font-weight: 500;
          font-size: 14px;
          line-height: 171%;
          text-align: center;
          color: var(--main-white);
          margin: 24px auto 0 auto;
          cursor: pointer;
        }
      }
    }
  }
}
