.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  .welcome {
    margin-bottom: 50px;
  }
  .paragraph {
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #a4a4a4;
    line-height: 25px;
  }
}

.button {
  border-radius: 8px;
  padding: 12px 64px;
  width: 188px;
  height: 48px;
  color: white;
  cursor: pointer;
  background: var(--main-black);
  margin-top: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: var(--main-white);
}

.button:hover {
  opacity: 0.7;
}
