.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  .input-field {
    position: relative;
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    max-width: 100%;
    height: 56px;
    background: #f5f5f5;
    border: transparent;
    margin-bottom: 15px;
    outline: none;
  }
  .toggle-password {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 13px;
  }
  .error-message {
    font-size: 12px;
    color: salmon;
    position: absolute;
    bottom: 74px;
    left: 0;
    font-size: 14px;
    color: red;
  }
  .success-message {
    font-size: 12px;
    color: salmon;
    position: absolute;
    bottom: 74px;
    left: 0;
    font-size: 14px;
    color: rgb(60, 162, 40);
  }
}
