.sign-up__container {
  animation: fadeIn 0.4s ease forwards;

  .sign-up {
    border: 1px solid var(--main-black);
    border-radius: 6px;
    padding: 16px 56px;
    width: 100%;
    height: 56px;
  }
  .to-sign-in__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .to-sign-in {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
      color: #6c6c6c;
    }
    .to-sign-in__button {
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
//animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
