.discount-product__item{
	border-radius: 9px;
	padding: 24px 16px;
	width: 268px;
	height: 432px;
	min-width: 200px;
	background: #f6f6f6;
	position: relative;
	&:hover{
		transform: scale(1.02);
		opacity: .7;
	}
	.discount-product__image{
		width: 160px;
		height: 160px;
		object-fit:contain;
		margin: 48px auto;
	}
	.discount-product__title{
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: var(--main-black);
		margin-top: 16px;
	}
	.discount-product__price{
		font-weight: 600;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0.03em;
		text-align: center;
		color: var(--main-black);
		margin-top: 16px;
	}
	.btn{
		background: var(--main-black);
		border-radius: 8px;
		padding: 12px 64px;
		width: 188px;
		height: 48px;
		font-weight: 500;
		font-size: 14px;
		line-height: 171%;
		text-align: center;
		color: var(--main-white);
		display: block;
		margin: 16px auto 0 auto;
		cursor: pointer;
	}
	.add{
		position: absolute;
		cursor: pointer;
		right: 17px;
		top: 25px;
	}
}