.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 362px;

  margin-top: 10px;
  .product-img {
    width: 50px;
  }
  .product-content {
    display: flex;
    .product-price {
      font-size: 20px;
    }
  }
  .btn-block {
    display: flex;
    align-items: center;
    gap: 20px;
    .btn {
      display: block;
      border-radius: 8px;
      padding: 12px 32px;
      background: var(--main-black);
      font-weight: 500;
      font-size: 14px;
      line-height: 171%;
      text-align: center;
      color: var(--main-white);
      cursor: pointer;
    }
  }
}
.more {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main-black);
  border: 1px solid var(--main-black);
  border-radius: 6px;
  padding: 3px 0px;
  min-width: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  &:hover {
    background: var(--main-black);
    transition: 0.6s;
    color: var(--main-white);
  }
}
