.categories-container{
	.category-title{
		font-weight: 500;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.01em;
		color: var(--main-black);
	}
	.arrow{
		display: flex;
		align-items:center;
		gap: 25px;
	}
	.wrapper{
		margin: 80px 190px 0 190px;
		display: flex;
		justify-content: space-between;
		align-items:center
	}
	.categories-inner{
		 
		padding: 0 160px;
		margin-top: 32px;
		ul {
			display: flex;
			align-items: center;
			justify-content: space-around;
			li{
				border-radius: 15px;
				padding: 24px 52px;
				width: 160px;
				height: 128px;
				min-width: 135px;
				background: #ededed;
				align-items: center;
				flex-direction: column;
				display: flex;
				justify-content: center;
				cursor: pointer;
				&:hover{
					 opacity: .7;
				}
				p{
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
					text-align: center;
					color: var(--main-black);
					width: 117px;
					gap: 8px;
					
				}
			}
			li:nth-child(1)::before {
				content: "";
				display: inline-block;
				width: 24px;     
				height: 24px;
				background-image: url("/src/assets/icons/category/Phones.svg"); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				}
			li:nth-child(2)::before {
				content: "";
				display: inline-block;
				width: 24px;     
				height: 24px;
				background-image: url("/src/assets/icons/category/SmartWatches.svg"); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				}
			li:nth-child(3)::before {
				content: "";
				display: inline-block;
				width: 24px;     
				height: 24px;
				background-image: url("/src/assets/icons/category/Cameras.svg"); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				}
			li:nth-child(4)::before {
				content: "";
				display: inline-block;
				width: 24px;     
				height: 24px;
				background-image: url("/src/assets/icons/category/Headphones.svg"); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				}
			li:nth-child(5)::before {
				content: "";
				display: inline-block;
				width: 24px;     
				height: 24px;
				background-image: url("/src/assets/icons/category/Computers.svg"); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				}
			li:nth-child(6)::before {
				content: "";
				display: inline-block;
				width: 24px;     
				height: 24px;
				background-image: url("/src/assets/icons/category/Gaming.svg"); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				}
				
		}
	}
	.arrow{
		.arrow-left{
			cursor: pointer;
			&:hover{
				opacity: .7;
			}
		}	
		.arrow-right{
			cursor: pointer;
			&:hover{
				opacity: .7;
			}
		}
	}
				
}