.product-details__image {
  display: flex;

  .images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .images {
      object-fit: contain;
      width: 100px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .thumbnail {
    object-fit: contain;
    width: 413px;
  }
}
