.navBar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
  .links {
    display: flex;
    align-items: center;
    gap: 52px;
    .links-item:hover {
      opacity: 0.7;
    }
  }
  .action-icons {
    display: flex;
    align-items: center;
    gap: 24px;
    .favorite {
      position: relative;
      .total-quantity__favorite {
        position: absolute;
        top: 10px;
        right: -8px;
        width: 20px;
        height: 20px;
        background: var(--main-black);
        color: var(--main-white);
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        overflow: hidden;
        opacity: 0;
        animation: fadeIn 0.4s ease forwards;
      }
    }
    .cart {
      position: relative;
      .total-quantity__cart {
        position: absolute;
        top: 10px;
        right: -8px;
        width: 20px;
        height: 20px;
        background: var(--main-black);
        color: var(--main-white);
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        overflow: hidden;
        animation: fadeIn 0.4s ease forwards;
      }
    }
    .userName-block {
      position: relative;
      .userName {
        padding: 10px 15px;
        background: #f5f5f5;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
      }
      .open {
        padding: 10px 15px;
        background: #f5f5f5;
        border-radius: 15px;
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0px 0px 0px;
        transition: 0.3s;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .logout-modal {
        position: absolute;
        top: 30px;
        background: #f5f5f5;
        padding: 10px 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 3px 0px rgba(0, 0, 0, 0.15);
        width: -webkit-fill-available;
        .logout-button {
          font-weight: 500;
          font-size: 15px;
          color: var(--main-black);
          display: flex;
          justify-content: center;
          margin: 0 auto;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
