.navBar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
  .links {
    display: flex;
    align-items: center;
    gap: 52px;
    .links-item:hover {
      opacity: 0.7;
    }
  }
  .action-icons {
    display: flex;
    align-items: center;
    gap: 24px;
    .favorite {
      position: relative;
      .total-quantity__favorite {
        position: absolute;
        top: 10px;
        right: -8px;
        width: 20px;
        height: 20px;
        background: var(--main-black);
        color: var(--main-white);
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        overflow: hidden;
        opacity: 0;
        animation: fadeIn 0.4s ease forwards;
      }
    }
    .cart {
      position: relative;
      .total-quantity__cart {
        position: absolute;
        top: 10px;
        right: -8px;
        width: 20px;
        height: 20px;
        background: var(--main-black);
        color: var(--main-white);
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        overflow: hidden;
        animation: fadeIn 0.4s ease forwards;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
