.header-container {
  padding: 16px 160px;
  position: fixed;
  background: var(--main-white);
  width: 100%;
  z-index: 6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 12px 32px rgba(0, 0, 0, 0.12);
  .logo {
    cursor: pointer;
  }
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.4s ease forwards;
    .search-block {
      position: relative;
      .input {
        position: relative;
        .filter-reset__icon {
          position: absolute;
          width: 20px;
          right: 15px;
          top: 20px;
          opacity: 0;
          transition: 0.5s;
          cursor: pointer;
          &:active {
            transform: scale(0.06);
          }
        }
        &:hover {
          .filter-reset__icon {
            opacity: 1;
          }
        }
        .search {
          border-radius: 8px;
          padding: 16px 0 16px 48px;
          width: 372px;
          height: 56px;
          background: #f5f5f5;
          outline: none;
          border: transparent;
          transition: border 0.3s;
        }
        .search-icon {
          position: absolute;
          left: 20px;
          top: 20px;
        }
        .open {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .search-result {
        background: #f5f5f5;
        position: absolute;
        width: 372px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 5;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08),
          0 12px 32px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
