.subtotal {
  width: 408px;
  height: 168px;
  .subtotal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .subtotal-item__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 200%;
      color: #545454;
    }
    .subtotal-item__price {
      font-weight: 500;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: 0.03em;
      color: var(--main-black);
    }
  }
  .subtotal-item:first-child {
    margin-bottom: 20px;
  }
  .subtotal-item:first-child .subtotal-item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--main-black);
  }
  .subtotal-item:nth-child(2) {
    margin-bottom: 8px;
  }
  .subtotal-item:last-child {
    margin-top: 20px;
  }
  .subtotal-item:last-child .subtotal-item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--main-black);
  }
}
.checkout-button {
  border-radius: 6px;
  padding: 16px 56px;
  width: 408px;
  height: 56px;
  background: var(--main-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main-white);
  margin-top: 48px;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
.signin-button {
  border-radius: 6px;
  padding: 16px 56px;
  width: 408px;
  height: 56px;
  background: var(--main-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main-white);
  margin-top: 48px;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
