.add-to__cart {
  display: block;
  border-radius: 8px;
  padding: 12px 64px;
  width: 100%;
  height: 48px;
  background: var(--main-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: var(--main-white);
  cursor: pointer;
}
.btn-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  .decrement-btn {
    display: block;
    border-radius: 8px;
    padding: 12px 32px;
    width: 100%;
    background: var(--main-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--main-white);
    cursor: pointer;
  }
  .quantity {
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    width: 10px;
    background: var(--main-white);
    border: 1px solid #f5f5f5;
    border-radius: 5px;
  }
  .increment-btn {
    display: block;
    border-radius: 8px;
    padding: 12px 32px;
    width: 100%;
    background: var(--main-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--main-white);
    cursor: pointer;
  }
}
