.product-item {
  position: relative;
  border-radius: 9px;
  padding: 0 16px 24px 16px;
  width: 268px;
  min-height: 432px;
  min-width: 200px;
  background: #f6f6f6;
  flex-grow: 1;

  &:hover {
    transform: scale(1.02);
  }
  .add {
    position: absolute;
    right: 17px;
    top: 25px;
    cursor: pointer;
  }
  .product-img {
    width: 160px;
    height: 160px;
    margin: 72px auto 0 auto;
    object-fit: contain;
  }
  .product-content {
    height: 88px;
  }
  .product-title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main-black);
  }
  .product-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-black);
    margin-top: 16px;
  }

  .add-to__cart {
    display: block;
    border-radius: 8px;
    padding: 12px 64px;
    width: 188px;
    height: 48px;
    background: var(--main-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--main-white);
    margin: 24px auto 0 auto;
    cursor: pointer;
  }
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    .decrement-btn {
      display: block;
      border-radius: 8px;
      padding: 12px 32px;
      width: 100%;
      background: var(--main-black);
      font-weight: 500;
      font-size: 14px;
      line-height: 171%;
      text-align: center;
      color: var(--main-white);
      margin: 24px auto 0 auto;
      cursor: pointer;
    }
    .quantity {
      display: flex;
      justify-content: center;
      padding: 10px 25px;
      width: 10px;
      background: var(--main-white);
      border: 1px solid #f5f5f5;
      border-radius: 5px;
      margin: 24px auto 0 auto;
    }
    .increment-btn {
      display: block;
      border-radius: 8px;
      padding: 12px 32px;
      width: 100%;
      background: var(--main-black);
      font-weight: 500;
      font-size: 14px;
      line-height: 171%;
      text-align: center;
      color: var(--main-white);
      margin: 24px auto 0 auto;
      cursor: pointer;
    }
  }
}
