.favorite-container {
  padding: 0 160px;
  height: 100vh;
  .favorite-inner {
    display: flex;
    justify-content: space-between;
    animation: fadeIn 0.4s ease forwards;
    .order-summary {
      width: 30%;
      text-align: end;
    }
  }
}
//animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
