.favorite-container {
  padding: 112px 160px;
  min-height: 100vh;
  .favorite-inner {
    display: flex;
    justify-content: space-between;
    animation: _fadeIn_1ltij_1 0.4s ease forwards;
    gap: 54px;
  }
}
//animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
