.discount-products__container{
	.discount-products__inner{
		grid-template-columns: repeat(4, 1fr);
		display: grid;
		gap: 16px;
		grid-auto-rows: 1fr;
		justify-items: center;
		margin-top: 32px;
		margin-bottom: 80px;
		padding:0 160px 0 160px;
	}
	.discount-products__title{
		font-weight: 500;
		font-size: 24px;
		line-height: 133%;
		text-align: start;
		color: var(--main-black);
		margin-top: 80px;
		padding-left: 160px;
	}
}