 
.header-container {
	padding:  16px 160px;
	.logo{
		cursor: pointer;
	}
	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.search{
			border-radius: 8px;
			padding: 16px;
			width: 372px;
			height: 56px;
			background: #f5f5f5;
			border: 2px solid transparent;  
			outline: none;               
			transition: border 0.3s;  
			&:focus{
				 border: 2px solid var(--main-black);
			}
		}
		.links{
			display: flex;
			align-items:center;
			gap: 52px;
			.links-item:hover{
				opacity: .7;
			}
		}
		.action-icons{
			display: flex;
			align-items:center;
			gap: 24px;
		}	
	}
	
	
}