.products-container{
	.products-inner{
		padding: 32px 160px 80px;
		.grid-container{
			grid-template-columns: repeat(4, 1fr);
			display: grid;
			gap: 16px;
			grid-auto-rows: 1fr;
			justify-items: center;
			
		}
	}
}