.rating-container {
  padding: 0 160px 0 160px;
  margin-top: 88px;
  .rating-inner {
    display: flex;
    gap: 60px;
    .average-rating {
      font-size: 15px;
      color: #ffb547;
    }
    .rating-summary {
      border-radius: 25px;
      padding: 32px;
      width: 184px;
      height: 192px;
      background: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      .rating-length {
        font-weight: 500;
        font-size: 15px;
        line-height: 107%;
        text-align: center;
        color: var(--main-black);
        opacity: 0.3;
        margin-top: 16px;
      }
      .rating-value {
        font-weight: 500;
        font-size: 56px;
        line-height: 100%;
        text-align: center;
        color: var(--main-black);
      }
    }
    .rating-details {
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 192px;
      .rating-details__item {
        display: flex;
        align-items: center;
        gap: 10px;
        .rating {
          min-width: 100px;
        }
        .rating-count {
          min-width: 50px;
        }
        .status-bar {
          width: 100%;
          height: 8px;
          background: #e5e5e5;
          border-radius: 4px;
          overflow: hidden;
        }

        .status-bar__fill {
          height: 100%;
          background: #ffcc00;
          width: 0%;
          transition: width 0.3s ease;
        }
      }
    }
  }
}
