.product-details__container {
  .product-details__inner {
    display: flex;
    justify-content: center;
    margin: 112px 0;
    position: relative;
    animation: fadeIn 0.4s ease forwards;
  }
}

//?animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
