:root {
	--main-black: #000;
	--main-white: #fff;
	--secondary-charcoal: #2e2e2e;
  --font-family: "Satoshi", sans-serif;
  --second-family: "SF Pro Display", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 

/* reset.css */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Satoshi', sans-serif; /* или любой другой шрифт */
  background: #fff;
  color: #000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
