.filter-search {
  position: relative;

  .filter-search__icon {
    position: absolute;
    left: 12px;
    top: 12px;
  }

  .filter-search__input {
    border-radius: 8px;
    padding: 11px 0px 11px 48px;
    width: 256px;
    height: 40px;
    border: 2px solid transparent;
    outline: none;
    background: #f5f5f5;
    transition: border 0.3s;

    &:focus {
      border: 2px solid var(--main-black);
    }
  }

  .filter-reset__icon {
    width: 20px;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
    &:active {
      transform: scale(0.06);
    }
  }

  &:hover {
    .filter-reset__icon {
      opacity: 1;
    }
  }
}
