.cart-items__block {
  width: 100%;
  .cart-items__inner {
    margin-top: 30px;
    .wrapper {
      display: grid;
      grid-template-columns:
        80px
        1fr
        140px
        215px
        40px;
      align-items: center;
      gap: 16px;
      .thumbnail {
        width: 90px;
        height: 90px;
      }

      .quantity-block {
        display: flex;
        align-items: center;
        gap: 10px;

        .quantity {
          display: flex;
          justify-content: center;
          padding: 10px 25px;
          width: 10px;
          background: var(--main-white);
          border: 1px solid #f5f5f5;
          border-radius: 5px;
        }
      }
      .price {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.03em;
        color: var(--main-black);
      }
      .delete-product {
        width: 30px;
        cursor: pointer;
        transition: 0.5s;
        &:active {
          transform: scale(0.06);
        }
      }
    }
  }
}
